<div class="card mt-5">
  <div class="card-header">
    <div class="card-title">
      <h3>Atualizar</h3>
    </div>
  </div>
  <div class="card-body" *ngIf="usuario; else elseBlock">
    <div class="row">
      <div class="form-group  col-md-6">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.id">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="form-label">UserId</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.userId">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.title">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <a [routerLink]="['/usuario']" class="btn btn-default">Voltar</a>
        <button class="btn btn-primary" (click)="salvar()">Salvar</button>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <mat-spinner class="m-5"></mat-spinner>
  </ng-template>
</div>