<nav class="navbar navbar-expand-sm bg-success">
  <a class="navbar-brand text-white" href="#">Dojo Angular</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-white" [routerLink]="['/usuario']" >Usuarios</a>
    </li>
  </ul>
</nav>
