<div class="card mt-2">
  <div class="card-body">
    <table class="table">
      <tr>
        <th>Id</th>
        <th>UserId</th>
        <th>Title</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of usuarios">
        <td>{{item.id}}</td>
        <td>{{item.userId}}</td>
        <td>{{item.title}}</td>
        <td>
          <a [routerLink]="['edit', item.id]" class="btn btn-link text-success ml-2">
            <fa-icon [icon]="faPenAlt"></fa-icon>
          </a>
          <button (click)="remover(item.id)" class="btn btn-link text-danger ml-2">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>